@model Nutrition.Models.NutritionLabel

<h5>Nutrition Facts</h5>
<table class="mt-3 w-100 border">
    <tr><td>Serving Size </td> <td> @Model.ServingSize</td></tr>
    <tr><td>Calories </td> <td> @Model.Calories</td></tr>
    <tr><td>Total Fat </td> <td> @Model.TotalFat g</td></tr>
    <tr><td>Saturated Fat </td> <td> @Model.SaturatedFat g</td></tr>
    <tr><td>Trans Fat </td> <td> @Model.TransFat g</td></tr>
    <tr><td>Cholesterol </td> <td> @Model.Cholesterol mg</td></tr>
    <tr><td>Sodium </td> <td> @Model.Sodium mg</td></tr>
    <tr><td>Total Carbohydrates </td> <td> @Model.TotalCarbohydrates g</td></tr>
    <tr><td>Dietary Fiber </td> <td> @Model.DietaryFiber g</td></tr>
    <tr><td>Sugars </td> <td> @Model.Sugars g</td></tr>
    <tr><td>Protein </td> <td> @Model.Protein g</td></tr>
    <tr><td>VitaminA </td> <td> @Model.VitaminA %</td></tr>
    <tr><td>VitaminC </td> <td> @Model.VitaminC %</td></tr>
    <tr><td>Calcium </td> <td> @Model.Calcium %</td></tr>
    <tr><td>Iron </td> <td> @Model.Iron %</td></tr>
    <!-- Add other fields as necessary -->
</table>
